# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
myenv/
env/
.venv/

# Distribution
build/
dist/
*.egg-info/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# ==========================
# Node
# ==========================

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
out/
build/
dist/

# Coverage
coverage/

# ==========================
# Misc
# ==========================

.idea/
*.swp